SERVER_NAME=localhost
BASE_URL=http://localhost
BMEG_SITE_BRANCH=master
GRIP_SERVER=<location of grip server>
LETSENCRYPT_EMAIL=<YOUR-EMAIL>
NGO_CALLBACK_SCHEME=http
NGO_CLIENT_ID=<CLIENT ID>
NGO_CLIENT_SECRET=<SECRET>
NGO_TOKEN_SECRET=<RANDOM STRING>
NGO_CALLBACK_SCHEME=https
NGO_CLIENT_ID=<CLIENT ID>
NGO_CLIENT_SECRET=<SECRET>
NGO_TOKEN_SECRET=<RANDOM STRING>
NGO_EXTRA_VALIDITY=86400
DEBUG=True
